<div class="footer-container">
    <div class="footer-about footer-area">
        <h4 class="footer-about-title">About Our Store</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus nihil porro, aliquid dolores amet
            explicabo laborum rem voluptatum! Aliquid repellat ea expedita saepe omnis cupiditate perspiciatis rerum
            pariatur aperiam amet!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam nostrum obcaecati repellat ad quos aliquam
            ipsum, natus velit explicabo dicta, officiis reiciendis! Nesciunt quasi quas voluptatem, excepturi
            repudiandae quisquam dignissimos!</p>
    </div>
    <div class="footer-links footer-area">
        <h4 class="footer-links-title">Links</h4>
    </div>
    <div class="footer-cs footer-area">
        <h4 class="footer-cs-title">Customer Service</h4>
    </div>

</div>