body {
    font-family: 'Merienda', cursive;
}

.onsale-container {
    text-align: center;
    background-color: #2e2e2f;
    color: white;
}

.onsale-text {
    margin: 0;
}

.navbar-main {
    background: linear-gradient(90deg, #fe142c 20%, #b7111f 81%);
    color: white;
}

.navbar-personal {
    text-align: end;
    padding-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar-personal ul li {
    display: inline;
}

.navbar-personal a {
    color: white;
    margin-right: 20px;
}

.navbar-title {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
}

.navbar-title a {
    color: white;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    background-color: #2e2e2f;
}

.navbar-links a {
    color: white;
    text-decoration: none;
}

.navbar-links ul {
    margin: 10px 0px;
}

.navbar-links ul li {
    display: inline;
    padding: 5px 20px 5px 20px;
}