
.main-content {
    margin-bottom: 100px;
}

.sidebar {
    float: left;
    width: 20%;
    height: 100%;
}

.products-container {
    display: grid;
    grid-template-columns: auto auto;
}

.item-container {
    height: 300px;

    padding: 40px;
    text-align: center;
    display: block;
}

.item-images {
    max-width: 100%;
    max-height: 100%;
}

.sidebar-item {
    font-size: 0.8em;
    padding-top: 10%;
    padding-left: 10%;
}

.sidebar-title {
    font-size: 1.5em;
}

.query-button-container {
    text-align: center;
    padding: 20px 0px 20px 0px;
}

span {
    color: green;
}

.products-container a {
    text-decoration: none;
    color: black;
}

.products-container a:hover {
    color: #e43344;
    text-decoration: underline;
    cursor: pointer;
}